</style>
<div class="error" style="font-family:Arial,sans-serif;">
  <div class="error__wrapper" style="width:50%;margin: 50px auto;text-align:center;">
    <p class="error__sign"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:150px;color:#aaa;"></i></p>
    <p class="error__caption" style="font-size:103px;font-weight:bold;padding:40px 0 30px;">404</p>
    <p class="error__content" style="font-size:18px;line-height:22px;letter-spacing:2px;color:#bbb;padding-bottom:30px;">Current page is not found.</p>
    <a class="error__link" href="/" style="display:block;width:30%;padding:10px 20px;margin:0 auto;text-decoration:none;font-size:10px;background-color:#000;color:#fff;"><i class="fa fa-home" aria-hidden="true"></i> HOME</a>
</div>
</div>
